<section id="about" class="bg-white py-12 px-6">
    <div class="max-w-screen-lg mx-auto">
        <h2 class="text-3xl font-bold text-gray-800 text-center mb-8">About Me</h2>
        <div class="space-y-6">
            <!-- ข้อมูลส่วนตัว -->
            <div>
                <h3 class="text-2xl font-semibold text-gray-700">ข้อมูลส่วนตัว</h3>
                <p class="text-gray-600 mt-1">ชื่อ : ภคพร ชัยชาญ</p>
                <p class="text-gray-600 mt-0">ชื่อเล่น : แก้ม</p>
                <p class="text-gray-600 mt-0">อายุ : 20 ปี</p>
                <p class="text-gray-600 mt-0">วันเกิด : 13 กันยายน พ.ศ. 2547</p>
            </div>
            <!-- ประวัติการศึกษา -->
            <div>
                <h3 class="text-2xl font-semibold text-gray-700">ประวัติการศึกษา</h3>
                <ul class="list-disc pl-6 text-gray-600">
                    <li>ประถมศึกษา
                        <ul>
                            <li>โรงเรียนน้ำสาดเหนือ (ป.1-ป.6)</li>
                        </ul>
                    </li>
                    <li>มัธยมศึกษา
                        <ul>
                            <li>โรงเรียนหนองบัว (ม.1-ม.6)</li>
                        </ul>
                    </li>
                    <li>กำลังศึกษามหาวิทยาลัย
                        <ul>
                            <li>มหาวิทยาลัยบูรพา</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- ประสบการณ์การทำงาน -->
            <div>
                <h3 class="text-2xl font-semibold text-gray-700">ประสบการณ์การทำงาน</h3>
                <ul class="list-disc pl-6 text-gray-600">
                    <li>2022
                        <ul>
                            <li>ทำงาน parttime หลังเลิกเรียนเสาร์อาทิตย์
                                ขายกิ๊ฟช็อป ที่บิ๊กซี</li>
                        </ul>
                    </li>
                    <li>2024
                        <ul>
                            <li>เป็นพนักงาน 7-11 ทำทุกตำแหน่ง</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
